In [1]:
#Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [2]:
""" 

MongoDB is a popular open-source document-oriented NoSQL database that is designed for scalability and flexibility. Unlike traditional SQL databases that store data in tables and rows, MongoDB stores data in collections of JSON-like documents with dynamic schemas.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional relational model for storing and retrieving data. Instead, they use various data models such as document-based, key-value, column-family, and graph-based models.

In scenarios where data is unstructured or semi-structured, non-relational databases like MongoDB can be a better choice over SQL databases. For example, MongoDB is often preferred for web applications, real-time analytics, and content management systems that require flexible and scalable data storage. 

MongoDB is designed to handle large volumes of data, making it an excellent choice for big data applications. It supports automatic sharding and replication, making it easy to distribute data across multiple servers and ensure high availability and scalability. 

Additionally, MongoDB's flexible schema allows for easy data modeling and changes, making it easier to accommodate evolving business requirements without having to modify the database schema. It also supports indexing and querying of documents, allowing for efficient retrieval of data. 

Overall, MongoDB is preferred in scenarios where the data is semi-structured or unstructured, the workload involves a high volume of data, and the ability to scale horizontally is important. SQL databases, on the other hand, are generally preferred for scenarios where data is structured, and transactions are ACID compliant."""

" \n\nMongoDB is a popular open-source document-oriented NoSQL database that is designed for scalability and flexibility. Unlike traditional SQL databases that store data in tables and rows, MongoDB stores data in collections of JSON-like documents with dynamic schemas.\n\nNon-relational databases, also known as NoSQL databases, are databases that do not use the traditional relational model for storing and retrieving data. Instead, they use various data models such as document-based, key-value, column-family, and graph-based models.\n\nIn scenarios where data is unstructured or semi-structured, non-relational databases like MongoDB can be a better choice over SQL databases. For example, MongoDB is often preferred for web applications, real-time analytics, and content management systems that require flexible and scalable data storage. \n\nMongoDB is designed to handle large volumes of data, making it an excellent choice for big data applications. It supports automatic sharding and replication, making it easy to distribute data across multiple servers and ensure high availability and scalability. \n\nAdditionally, MongoDB's flexible schema allows for easy data modeling and changes, making it easier to accommodate evolving business requirements without having to modify the database schema. It also supports indexing and querying of documents, allowing for efficient retrieval of data. \n\nOverall, MongoDB is preferred in scenarios where the data is semi-structured or unstructured, the workload involves a high volume of data, and the ability to scale horizontally is important. SQL databases, on the other hand, are generally preferred for scenarios where data is structured, and transactions are ACID compliant."

In [3]:
#Q2. State and Explain the features of MongoDB.

In [4]:
""" MongoDB is a popular NoSQL database that offers several unique features, which make it a popular choice for modern, data-intensive applications. Some of the key features of MongoDB are:

1. Document-oriented storage: MongoDB stores data in JSON-like documents that can be nested and contain arrays. This flexible data model makes it easy to store and retrieve complex data structures.

2. Schemaless: MongoDB is schemaless, which means that it doesn't require a predefined data schema. This allows for more flexibility in data modeling and makes it easier to adapt to changing requirements.

3. Scalability: MongoDB is designed for scalability and can easily handle large volumes of data. It supports automatic sharding and replication, which enables horizontal scaling across multiple servers.

4. High availability: MongoDB is designed for high availability, which means that it can handle node failures without downtime. It supports automatic failover and recovery, making it a reliable choice for mission-critical applications.

5. Indexing and querying: MongoDB supports indexing and querying of documents, which makes it easy to search for specific data in large datasets. It supports a wide range of query operators and aggregation functions, making it a powerful tool for data analysis.

6. Geospatial and text search: MongoDB supports geospatial queries and text search, which makes it well-suited for location-based applications and search engines.

7. Support for multiple programming languages: MongoDB offers official drivers for several programming languages, including Java, Python, Node.js, and Ruby. This makes it easy to integrate MongoDB into existing applications and workflows.

Overall, MongoDB offers a powerful combination of flexibility, scalability, and reliability, which makes it a popular choice for modern, data-intensive applications. """

" MongoDB is a popular NoSQL database that offers several unique features, which make it a popular choice for modern, data-intensive applications. Some of the key features of MongoDB are:\n\n1. Document-oriented storage: MongoDB stores data in JSON-like documents that can be nested and contain arrays. This flexible data model makes it easy to store and retrieve complex data structures.\n\n2. Schemaless: MongoDB is schemaless, which means that it doesn't require a predefined data schema. This allows for more flexibility in data modeling and makes it easier to adapt to changing requirements.\n\n3. Scalability: MongoDB is designed for scalability and can easily handle large volumes of data. It supports automatic sharding and replication, which enables horizontal scaling across multiple servers.\n\n4. High availability: MongoDB is designed for high availability, which means that it can handle node failures without downtime. It supports automatic failover and recovery, making it a reliable choice for mission-critical applications.\n\n5. Indexing and querying: MongoDB supports indexing and querying of documents, which makes it easy to search for specific data in large datasets. It supports a wide range of query operators and aggregation functions, making it a powerful tool for data analysis.\n\n6. Geospatial and text search: MongoDB supports geospatial queries and text search, which makes it well-suited for location-based applications and search engines.\n\n7. Support for multiple programming languages: MongoDB offers official drivers for several programming languages, including Java, Python, Node.js, and Ruby. This makes it easy to integrate MongoDB into existing applications and workflows.\n\nOverall, MongoDB offers a powerful combination of flexibility, scalability, and reliability, which makes it a popular choice for modern, data-intensive applications. "

In [5]:
#Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [8]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.1yd45n1.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [11]:
db

Database(MongoClient(host=['ac-0uq2nny-shard-00-02.1yd45n1.mongodb.net:27017', 'ac-0uq2nny-shard-00-00.1yd45n1.mongodb.net:27017', 'ac-0uq2nny-shard-00-01.1yd45n1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13agdi-shard-0', tls=True), 'test')

In [12]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.1yd45n1.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db = client['pwskills']

In [14]:
data ={"name": "awi",
      "class": "data science",
      "time": "flexi"}

In [15]:
coll_pwskills = db["my_record"]

In [ ]:
coll_pwskills.insert_one(data)

In [18]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

coll_pwskills.insert_one(data1)

In [19]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [20]:
coll_pwskills.insert_many(data2)

In [21]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [23]:
coll_pwskills.insert_one(data3)

In [6]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [24]:
 data12 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [25]:
coll_pwskills.insert_many(data12) # insert many records

In [26]:
data100 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

coll_pwskills.insert_one(data100) #  insert one record

In [30]:
coll_pwskills.find_one() #Use the find_one()

{'_id': ObjectId('644f8e534379711ada61e06b'),
 'name': 'awi',
 'class': 'data science',
 'time': 'flexi'}

In [31]:
for i in coll_pwskills.find(): #Use the find()
    print(i)

{'_id': ObjectId('644f8e534379711ada61e06b'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('644f8ee04379711ada61e06c'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('644f8f004379711ada61e06d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644f8f004379711ada61e06e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644f8f004379711ada61e06f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644f8f004379711ada61e070'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644f8f004379711ada61e071'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644f8f004379711ada61e072'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644f8f004379711ada61e073'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644f8f004379711ada61e074'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644f8f004379711ada61e075'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644f8f004379711ada61e076'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644f8f004379711ada61e077'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644f8f004379711ada61e078'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644f8f294379711ada61e079'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('644f8f524379711ada61e07a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('644f8f524379711ada61e07b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('644f8f524379711ada61e07c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('6453a7a1f9b4f27d56a1a690'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('6453a860f9b4f27d56a1a691'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a692'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a693'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a694'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a695'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a696'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a697'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a698'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a699'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a8b0f9b4f27d56a1a69e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6453a954f9b4f27d56a1a69f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a985f9b4f27d56a1a6ab'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}

In [32]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [34]:
""" The find() method is used to retrieve documents from a MongoDB collection that match a specified query. """
for i in coll_pwskills.find({'name': 'awi'}):
    print(i)

{'_id': ObjectId('644f8e534379711ada61e06b'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('6453a7a1f9b4f27d56a1a690'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}

In [35]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [36]:
coll_pwskills.insert_many(random_data)

In [37]:
for i in  coll_pwskills.find():
    print(i)

{'_id': ObjectId('644f8e534379711ada61e06b'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('644f8ee04379711ada61e06c'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('644f8f004379711ada61e06d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644f8f004379711ada61e06e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644f8f004379711ada61e06f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644f8f004379711ada61e070'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644f8f004379711ada61e071'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644f8f004379711ada61e072'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644f8f004379711ada61e073'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644f8f004379711ada61e074'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644f8f004379711ada61e075'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644f8f004379711ada61e076'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644f8f004379711ada61e077'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644f8f004379711ada61e078'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644f8f294379711ada61e079'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('644f8f524379711ada61e07a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('644f8f524379711ada61e07b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('644f8f524379711ada61e07c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('6453a7a1f9b4f27d56a1a690'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('6453a860f9b4f27d56a1a691'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a692'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a693'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a694'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a695'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a696'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a697'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a698'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a699'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a8b0f9b4f27d56a1a69e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6453a954f9b4f27d56a1a69f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a985f9b4f27d56a1a6ab'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [38]:
for i in coll_pwskills.find({"_id" :{"$gte" : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [39]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [40]:
"""  we use the find() method to retrieve documents that match the query and the sort() method to sort the results, and print them one by one using a loop. 
In this case, we are printing all fields for each document that matches the query and is sorted by age in descending order."""

'  we use the find() method to retrieve documents that match the query and the sort() method to sort the results, and print them one by one using a loop. \nIn this case, we are printing all fields for each document that matches the query and is sorted by age in descending order.'

In [42]:
query = {}
sort_order = [("age", -1)]
results = coll_pwskills.find(query).sort(sort_order)

# print the sorted results
for result in results:
    print(result)

{'_id': ObjectId('644f8e534379711ada61e06b'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('644f8ee04379711ada61e06c'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('644f8f004379711ada61e06d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('644f8f004379711ada61e06e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('644f8f004379711ada61e06f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('644f8f004379711ada61e070'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('644f8f004379711ada61e071'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('644f8f004379711ada61e072'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('644f8f004379711ada61e073'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('644f8f004379711ada61e074'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('644f8f004379711ada61e075'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('644f8f004379711ada61e076'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('644f8f004379711ada61e077'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('644f8f004379711ada61e078'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('644f8f294379711ada61e079'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('644f8f524379711ada61e07a'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('644f8f524379711ada61e07b'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('644f8f524379711ada61e07c'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('6453a7a1f9b4f27d56a1a690'), 'name': 'awi', 'class': 'data science', 'time': 'flexi'}
{'_id': ObjectId('6453a860f9b4f27d56a1a691'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a692'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a693'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a694'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a695'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a696'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a697'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a698'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a699'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a86ef9b4f27d56a1a69d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a8b0f9b4f27d56a1a69e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6453a954f9b4f27d56a1a69f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6453a954f9b4f27d56a1a6aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6453a985f9b4f27d56a1a6ab'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [43]:
#Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [44]:
""" delete_one() is used when you want to delete a specific document that matches certain criteria. For example, if you want to delete a document with a specific _id,
    you can use delete_one() with a filter that specifies the _id value.

    delete_many() is used when you want to delete multiple documents that match certain criteria. For example, if you want to delete all documents that have a specific value in
    a certain field, you can use delete_many() with a filter that specifies the field value.

    drop() is used when you want to delete an entire collection. This method is typically used when you no longer need the collection or when you want to start fresh with a new 
    collection."""

' delete_one() is used when you want to delete a specific document that matches certain criteria. For example, if you want to delete a document with a specific _id,\n    you can use delete_one() with a filter that specifies the _id value.\n\n    delete_many() is used when you want to delete multiple documents that match certain criteria. For example, if you want to delete all documents that have a specific value in\n    a certain field, you can use delete_many() with a filter that specifies the field value.\n\n    drop() is used when you want to delete an entire collection. This method is typically used when you no longer need the collection or when you want to start fresh with a new \n    collection.'

In [47]:
coll_pwskills.delete_one(data3) # delete_one()

In [54]:
coll_pwskills.drop()